<h1>Create a New Building</h1>

<form action="/buildings/add" method="post">
  <label for="">Name:</label>
  <input type="text" name="name">
  <br>
  <label for="">Building NIF:</label>
  <input type="number" name="buildingNif">
  <br>
  <label for="">Address:</label>
  <input type="text" name="address">
  <br>
  <label for="">Builder</label>
  <input type="text" name="builder">
  <br>
  <label for="">Number of Floors</label>
  <input type="number" name="floors">
  <br>
  <label for="">Number of Apartements</label>
  <input type="number" name="numOfApartments">
  <br>
  <label for="">Year of Construction</label>
  <input type="date" name="yearOfConstruction">
  <br>
  <label for="">Number of Elevators</label>
  <input type="number" name="numOfElevators">
  <br>
  <button type="submit">ADD</button>
</form>