<section id="container-for-title">
  <div>
    <h3>
      <p>Welcome to {{title}}</p>
    </h3>
  </div>
</section>

<div id="container-for-title">
  <p>The services website we all were missing!</p>
</div>



<br>
{{!-- <section>
  <div >
    <h3>We are here to make your building last longer, value more and look better</h3>
  </div>
  <div>
    <img src="https://www.buildingincloud.net/wp-content/uploads/2019/09/innovation-of-fm.jpg" alt="">
  </div>
</section> --}}

<div class="card-deck">
  <div class="card">
    <img class="card-img-top"
      src="https://www.wbcsd.org/var/site/storage/images/programs/cities-and-mobility/sustainable-cities/science-based-targets/resources/framework-carbon-emissions-management-building-construction-value-chain/91649-3-eng-GB/SBT4b-Framework-Scoping-paper_i1140.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a Companie</h5>
      <p class="card-text">You have a problem? Find a companie to help you!</p>
      <div id="container-for-buttons">
        <a href="/companies/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
          class="buttons-index">Add your Company</a>

        <a href="/companies" class="btn btn-light btn-lg active" role="button" aria-pressed="true"
          class="buttons-index">Consult Companies</a>
      </div>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="https://www.buildingincloud.net/wp-content/uploads/2019/09/innovation-of-fm.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tune UP your building</h5>
      <p class="card-text">We are here to make your building last longer, value more and look better</p>
    </div>
    <div id="container-for-buttons">
      <a href="/buildings/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
        class="buttons-index">Add Building</a>

      <a href="/buildings" class="btn btn-light btn-lg active" role="button" aria-pressed="true"
        class="buttons-index">Join
        Building</a>
    </div>
  </div>
</div>


{{!-- CARDS --}}
<br><br><br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">For Profissionals</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">For Users</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</section>