<section id="container-for-title">
  <div>
    <h1>
      <p>Welcome to {{title}}</p>
    </h1>
  </div>
</section>

<div id="container-for-title">
  <p><h2>The services website we all were missing!</h2></p>
</div>



<br>
{{!-- <section>
  <div >
    <h3>We are here to make your building last longer, value more and look better</h3>
  </div>
  <div>
    <img src="https://www.buildingincloud.net/wp-content/uploads/2019/09/innovation-of-fm.jpg" alt="">
  </div>
</section> --}}

<div class="card-deck">
  <div class="card">
    <img class="card-img-top"
      src="https://s3-us-west-1.amazonaws.com/acropolis-wp-content-uploads/2019/05/BigRentz_ConstructionRiskManagement_Hero.png"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a Companie</h5>
      <p class="card-text">You have a problem? Find a companie to help you!</p>
      <div id="container-for-buttons">
        {{#if user}}
        <a href="/companies" class="btn btn-light btn-lg active" role="button" aria-pressed="true"
          class="buttons-index">Consult Companies</a>
        {{/if}}
      </div>
       <div id="container-for-buttons">
        {{#if professional}}
        <a href="/companies/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
          class="buttons-index">Add Company</a>

        <a href="/companies" class="btn btn-light btn-lg active" role="button" aria-pressed="true"
          class="buttons-index">Consult Companies</a>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="https://s3-us-west-1.amazonaws.com/acropolis-wp-content-uploads/bigrentz-recruiting-skilled-workers-hero-large.png"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find your Building</h5>
      <p class="card-text">Report the pathologies of your building, we will help you fix it without you even have to leave your confort</p>
    </div>
    <div id="container-for-buttons">
      {{#if user}}
      <a href="/buildings" class="btn btn-light btn-lg active" role="button" aria-pressed="true"
        class="buttons-index">Consult
        Buildings</a>
      {{/if}}
    </div>
    <div id="container-for-buttons">
      {{#if professional}}
      <a href="/buildings/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
        class="buttons-index">Add Building</a>

      <a href="/buildings" class="btn btn-light btn-lg active" role="button" aria-pressed="true"
        class="buttons-index">Consult
        Buildings</a>
      {{/if}}
    </div>
  </div>
</div>


{{!-- CARDS --}}
<br><br><br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">For Profissionals</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/professional-login" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">For Users</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/login" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</section>