<div class="hero">
  <div class="left-hero">
    <h1>FacilityHack</h1>
    <h3> <p>test this {{title}}</p> </h3>
    <h3> <p>Welcome to {{title}}</p> </h3>
    <p>Simply dummy text of the printing and typesetting industry.</p>
    <div><a href="/login">Login</a></div>
    <br>
    <div><a href="signup">Sign up</a></div>
    <a href="/buildingSignUp" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Building</a>
    <a href="/userSignUp" class="btn btn-light btn-lg active" role="button" aria-pressed="true">Join Building</a>

  </div>
  <div class="right-hero">
  
  </div>
</div>

<div class="maps">
  <h2>You are in good company</h2>
  [MAPS API HERE]
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99580.03468287514!2d-9.230243237335381!3d38.743605703687756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19331a61e4f33b%3A0x400ebbde49036d0!2sLisbon!5e0!3m2!1sen!2spt!4v1576014478061!5m2!1sen!2spt" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

</div>

<div>
  <h2>Tailored for your building</h2>
  <div>
    <h4>For Building Managers</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <button type="button" class="btn btn-outline-primary">Learn More</button>
  </div>

  <div>
    <h4>For Building Residens</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <button type="button" class="btn btn-outline-primary">Learn More</button>
  </div>

</div>

