<!-- WELCOME ================================================== -->

    <section class="pt-4 pt-md-11 marginb-100 mb-100 mt-200">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="images/undraw_building_blocks_n0nc.svg" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up" data-aos-delay="100">

          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">

            <!-- Heading -->
            <h3 class="display-5 text-center text-md-left mb-25">
              Welcome to <span class="text-primary">{{title}}</span>. <br>
              The Building Management Platform.
            </h3>

            <!-- Text -->
            <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8 mb-50">
              The Ultimate Building Managment Platform.
            </p>

            <!-- Buttons -->
            <div class="text-center text-md-left">
              <a href="/signup" class="btn btn-primary shadow lift mr-1">
                Start For Free <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
              </a>
              <a href="/login" class="btn btn-primary-soft lift btn-light">
                Login Now
              </a>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>


<!-- SEARCH ================================================== -->

    <section class="py-6 mb-200">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
          <!-- Heading -->
            <h4 class="lead text-center text-md-center text-muted mb-6 mb-lg-8 mb-25">
              Find your building and start engaging now!
            </h4>

          <!-- Search form -->
            <form class="rounded shadow md-form mr-auto mb-4" action="/buildings/search" method="GET">
              <div class="input-group input-group-lg">

                <!-- Input -->
                <input class="form-control border-0 px-1" type="text" placeholder="Find your Building here" name="name" aria-label="Search" value="Ed. Amoreiras">
                
                <!-- Append -->
                <div class="input-group-append">
                  <span class="input-group-text border-0 py-0 pl-1 pr-3">

                <!-- Button -->
                <button class="btn btn-sm btn-primary" type="submit">
                  Search
                </button>

                </div>

            </form>

          </div>
        </div> <!-- / .row -->
      </div>
    </section>



<!-- ABOUT ================================================== -->

    <section id="about" class="pt-8 pt-md-11 bg-gradient-light mb-100 padtop-100 bg-white">
      <div class="container">
        
        <div class="row align-items-center justify-content-between mb-8 mb-md-11 mb-50">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="images/undraw_celebration_0jvk.svg" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up" data-aos-delay="100">

          </div>
          
          <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">

            <!-- Text -->
            <!-- Heading -->
            <h2>
              The most useful resource <br>
              <span class="text-success">ever created for Building Residents</span>
            </h2>
            
            <p class="font-size-lg text-muted mb-6">
              Using Landkit to build your site means never worrying about designing another page or cross browser compatibility. Our ever-growing library of components and pre-designed layouts will make your life easier.
            </p>


          </div>

        </div> <!-- / .row -->


        <!-- ABOUT 2 ================================================== -->


        <div class="row align-items-center justify-content-between mb-8 mb-md-11 mb-50">
          <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">

            
            
            <!-- Text -->
            <!-- Heading -->
            <h2>
              The most useful resource <br>
              <span class="text-danger">ever created for Building Managers</span>
            </h2>
            
            <p class="font-size-lg text-muted mb-6">
              Using Landkit to build your site means never worrying about designing another page or cross browser compatibility. Our ever-growing library of components and pre-designed layouts will make your life easier.
            </p>


          </div>
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="/images/undraw_QA_engineers_dg5p.svg" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up" data-aos-delay="100">

          </div>

        </div> <!-- / .row -->

        <!-- ABOUT 3 ================================================== -->

        <div class="row align-items-center justify-content-between mb-8 mb-md-11 mb-100">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="/images/undraw_under_construction_46pa.svg" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up" data-aos-delay="100">

          </div>
          
          <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">

            <!-- Text -->
            <!-- Heading -->
            <h2>
              The most useful resource <br>
              <span class="text-info">ever created for Service Providers</span>
            </h2>
            
            <p class="font-size-lg text-muted mb-6">
              Using Landkit to build your site means never worrying about designing another page or cross browser compatibility. Our ever-growing library of components and pre-designed layouts will make your life easier.
            </p>

      </div> <!-- / .container -->
</section>


<!-- TESTIMONIALS
    ================================================== -->
    <section class="py-8 py-md-11 mb-100 mt-200">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-12 col-md-5">
            
            <!-- Blockquote -->
            <blockquote class="blockquote text-center">

              <!-- Text -->
              <p class="mb-5 mb-md-7">
                "Amazing Project! All-in-one, clean code, beautiful design, and really not hard to work with. Highly recommended for any kind of Building.”
              </p>

              <!-- Footer -->
              <footer class="blockquote-footer mb-8 mb-md-0">
                <div class="avatar mr-3">
                  <img src="https://media.licdn.com/dms/image/C4D03AQFYufQI8IAyUQ/profile-displayphoto-shrink_200_200/0?e=1582156800&v=beta&t=Apd4rpd8XILAwWwaa-BRf_o08GQXlOs-94nS_--zlWA" class="avatar-img rounded-circle" alt="...">
                </div> <span class="h6 text-uppercase">Miguel, Lead Teacher</span>
              </footer>

            </blockquote>

          </div>
          <div class="col-12 col-md-1 border-right my-n8 my-md-n11 d-none d-md-block"></div>
          <div class="col-12 col-md-5 offset-md-1">
            
            <!-- Blockquote -->
            <blockquote class="blockquote text-center">
              
              <!-- Text -->
              <p class="mb-5 mb-md-7">
                “Amazing App! Highly recommended it. Actually I'm going to suggest it in my next building meeting.”
              </p>

              <!-- Footer -->
              <footer class="blockquote-footer mb-0">
                <div class="avatar mr-3">
                  <img src="https://media-exp2.licdn.com/dms/image/C5603AQETIKxP4a7Yqw/profile-displayphoto-shrink_200_200/0?e=1584576000&v=beta&t=KUoFBvmIgqVV8OT0q2Yj3HHqcpNd_gUG7U4gOqVZiEA" class="avatar-img rounded-circle" alt="...">
                </div> <span class="h6 text-uppercase">Gustavo, Teacher Assistant</span>
              </footer>

            </blockquote>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

<hr>

<!-- CTA ================================================== -->
    <section class="pt-6 pt-md-8 mb-100 mt-200">
      <div class="container pb-6 pb-md-8 border-bottom">
        <div class="row align-items-center">
          <div class="col-12 col-md">
            
            <!-- Heading -->
            <h3 class="font-weight-bold mb-1">
              Make your Building Greate Again.
            </h3>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6 mb-md-0">
              Prevent Build issues, engage your residents and save money.
            </p>

          </div>
          <div class="col-12 col-md-auto">
                
            <!-- Button -->
            <a href="/#about" class="btn btn-primary-soft mr-1 lift">
              Learn more
            </a>
            
            <a href="/signup" class="btn btn-primary lift">
              Get started
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>