<!-- WELCOME ================================================== -->

    <section class="pt-4 pt-md-11 marginb-100 mb-100">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="https://previews.dropbox.com/p/thumb/AAoD0RFILRn8V86imxVtscURiC6cfxuUqtJQSZLR3KfP_wbNMuClxKB8BXCoQB5Oc8PCBTMjx-Z5BLKE97fkSZYXExYlIVlxlPHtiVIwSajz63PSR5QF-2o_5KY4teD1HG1TQoA0JfqvhP1LnbvxIW5W8rzRlPqwJDdg298W6cidcalK0zvAmiXR5vGgAPsAdyDY69tSGA3oqEOy068j5eFBwbzUkQvxFouUNuOnrXb1OE6T3cjR811iohRwp2EGUYbaebtWwowFqQeLO8Rux9cDtU5Xs_botVwtpfiiE7k1pKwujOCSXojZpKTL5GnHRux3VlZj1TtZvZZ_KHfWW9OQ/p.png?fv_content=true&size_mode=5" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up" data-aos-delay="100">

          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">

            <!-- Heading -->
            <h3 class="display-5 text-center text-md-left mb-25">
              Welcome to <span class="text-primary">{{title}}</span>. <br>
              The Building Management Platform.
            </h3>

            <!-- Text -->
            <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8 mb-50">
              The Ultimate Building Managment Platform.
            </p>

            <!-- Buttons -->
            <div class="text-center text-md-left">
              <a href="/signup?" class="btn btn-primary shadow lift mr-1">
                Start For Free <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
              </a>
              <a href="/login?" class="btn btn-primary-soft lift btn-light">
                Login Now
              </a>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>



<!-- SEARCH ================================================== -->

    <section class="py-6 mb-100">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
          <!-- Heading -->
            <h4 class="lead text-center text-md-center text-muted mb-6 mb-lg-8 mb-25">
              Find your building and start engaging now!
            </h4>

          <!-- Search form -->
            <form class="rounded shadow md-form mr-auto mb-4" action="/buildings/search" method="GET">
              <div class="input-group input-group-lg">

                <!-- Input -->
                <input class="form-control border-0 px-1" type="text" placeholder="Find your Building here" name="name" aria-label="Search" value="Edifício Sol">
                
                <!-- Append -->
                <div class="input-group-append">
                  <span class="input-group-text border-0 py-0 pl-1 pr-3">

                <!-- Button -->
                <button class="btn btn-sm btn-primary" type="submit">
                  Search
                </button>

                </div>

            </form>

          </div>
        </div> <!-- / .row -->
      </div>
    </section>



<!-- FEATURES ================================================== -->

    <section class="py-8 py-md-11 mb-100">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4" data-aos="fade-up">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
                  <title>Stockholm-icons / General / Settings-1</title>
                  <desc>Created with Sketch.</desc>
                  <g id="Stockholm-icons-/-General-/-Settings-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                      <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" id="Combined-Shape" fill="#335EEA"></path>
                      <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" id="Combined-Shape" fill="#335EEA" opacity="0.3"></path>
                  </g>
              </svg>
            </div>

            <!-- Heading -->
            <h3>
              Building Residents
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Landkit is built to make your life easier. Variables, build tooling, documentation, and reusable components.
            </p>

          </div>
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
                  <title>Stockholm-icons / Layout / Layout-arrange</title>
                  <desc>Created with Sketch.</desc>
                  <g id="Stockholm-icons-/-Layout-/-Layout-arrange" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                      <path d="M5.5,4 L9.5,4 C10.3284271,4 11,4.67157288 11,5.5 L11,6.5 C11,7.32842712 10.3284271,8 9.5,8 L5.5,8 C4.67157288,8 4,7.32842712 4,6.5 L4,5.5 C4,4.67157288 4.67157288,4 5.5,4 Z M14.5,16 L18.5,16 C19.3284271,16 20,16.6715729 20,17.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,17.5 C13,16.6715729 13.6715729,16 14.5,16 Z" id="Combined-Shape" fill="#335EEA"></path>
                      <path d="M5.5,10 L9.5,10 C10.3284271,10 11,10.6715729 11,11.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,12.5 C20,13.3284271 19.3284271,14 18.5,14 L14.5,14 C13.6715729,14 13,13.3284271 13,12.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z" id="Combined-Shape" fill="#335EEA" opacity="0.3"></path>
                  </g>
              </svg>
            </div>

            <!-- Heading -->
            <h3>
              Building Administration
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Designed with the latest design trends in mind. Landkit feels modern, minimal, and beautiful.
            </p>

          </div>
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
                  <title>Stockholm-icons / Code / Code</title>
                  <desc>Created with Sketch.</desc>
                  <g id="Stockholm-icons-/-Code-/-Code" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                      <path d="M17.2718029,8.68536757 C16.8932864,8.28319382 16.9124644,7.65031935 17.3146382,7.27180288 C17.7168119,6.89328641 18.3496864,6.91246442 18.7282029,7.31463817 L22.7282029,11.5646382 C23.0906029,11.9496882 23.0906029,12.5503176 22.7282029,12.9353676 L18.7282029,17.1853676 C18.3496864,17.5875413 17.7168119,17.6067193 17.3146382,17.2282029 C16.9124644,16.8496864 16.8932864,16.2168119 17.2718029,15.8146382 L20.6267538,12.2500029 L17.2718029,8.68536757 Z M6.72819712,8.6853647 L3.37324625,12.25 L6.72819712,15.8146353 C7.10671359,16.2168091 7.08753558,16.8496835 6.68536183,17.2282 C6.28318808,17.6067165 5.65031361,17.5875384 5.27179713,17.1853647 L1.27179713,12.9353647 C0.909397125,12.5503147 0.909397125,11.9496853 1.27179713,11.5646353 L5.27179713,7.3146353 C5.65031361,6.91246155 6.28318808,6.89328354 6.68536183,7.27180001 C7.08753558,7.65031648 7.10671359,8.28319095 6.72819712,8.6853647 Z" id="Combined-Shape" fill="#335EEA"></path>
                      <rect id="Rectangle-28" fill="#335EEA" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-345.000000) translate(-12.000000, -12.000000) " x="11" y="4" width="2" height="16" rx="1"></rect>
                  </g>
              </svg>
            </div>

            <!-- Heading -->
            <h3>
              Service Providers
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              We've written extensive documentation for components and tools, so you never have to reverse engineer anything.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>



<!-- ABOUT ================================================== -->

    <section class="pt-8 pt-md-11 bg-gradient-light marginb-100 bg-secondary">
      <div class="container">
        <div class="row align-items-center justify-content-between mb-8 mb-md-11 marginb-50">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src=" https://previews.dropbox.com/p/thumb/AAoD0RFILRn8V86imxVtscURiC6cfxuUqtJQSZLR3KfP_wbNMuClxKB8BXCoQB5Oc8PCBTMjx-Z5BLKE97fkSZYXExYlIVlxlPHtiVIwSajz63PSR5QF-2o_5KY4teD1HG1TQoA0JfqvhP1LnbvxIW5W8rzRlPqwJDdg298W6cidcalK0zvAmiXR5vGgAPsAdyDY69tSGA3oqEOy068j5eFBwbzUkQvxFouUNuOnrXb1OE6T3cjR811iohRwp2EGUYbaebtWwowFqQeLO8Rux9cDtU5Xs_botVwtpfiiE7k1pKwujOCSXojZpKTL5GnHRux3VlZj1TtZvZZ_KHfWW9OQ/p.png?fv_content=true&size_mode=5" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up" data-aos-delay="100">

          </div>
          
          <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">

            <!-- Text -->
            <!-- Heading -->
            <h2>
              The most useful resource <br>
              <span class="text-success">ever created for Building Residents</span>
            </h2>
            
            <p class="font-size-lg text-muted mb-6">
              Using Landkit to build your site means never worrying about designing another page or cross browser compatibility. Our ever-growing library of components and pre-designed layouts will make your life easier.
            </p>

            <!-- List -->
            <div class="row">
              <div class="col-12 col-lg-6">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p class="text-success">
                    Lifetime updates
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <p class="text-success mb-lg-0">
                    Tons of assets
                  </p>

                </div>

              </div>
              <div class="col-12 col-lg-6 mb-6 mb-md-0">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </span>

                  <!-- Text -->
                  <p class="text-success">
                    Tech support
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mr-1 mr-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p class="text-success mb-0">
                    Integration ready
                  </p>

                </div>

              </div>
            </div> <!-- / .row -->


          </div>

        </div> <!-- / .row -->


        <div class="row align-items-center justify-content-between mb-8 mb-md-11">
          <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">

            
            
            <!-- Text -->
            <!-- Heading -->
            <h2>
              The most useful resource <br>
              <span class="text-danger">ever created for Building Managers</span>
            </h2>
            
            <p class="font-size-lg text-muted mb-6">
              Using Landkit to build your site means never worrying about designing another page or cross browser compatibility. Our ever-growing library of components and pre-designed layouts will make your life easier.
            </p>

            <!-- List -->
            <div class="row">
              <div class="col-12 col-lg-6">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p class="text-success">
                    Lifetime updates
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <p class="text-success mb-lg-0">
                    Tons of assets
                  </p>

                </div>

              </div>
              <div class="col-12 col-lg-6 mb-6 mb-md-0">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                  </span>

                  <!-- Text -->
                  <p class="text-success">
                    Tech support
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-success-soft mr-1 mr-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p class="text-success mb-0">
                    Integration ready
                  </p>

                </div>

              </div>
            </div> <!-- / .row -->


          </div>
          <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src=" https://previews.dropbox.com/p/thumb/AAoD0RFILRn8V86imxVtscURiC6cfxuUqtJQSZLR3KfP_wbNMuClxKB8BXCoQB5Oc8PCBTMjx-Z5BLKE97fkSZYXExYlIVlxlPHtiVIwSajz63PSR5QF-2o_5KY4teD1HG1TQoA0JfqvhP1LnbvxIW5W8rzRlPqwJDdg298W6cidcalK0zvAmiXR5vGgAPsAdyDY69tSGA3oqEOy068j5eFBwbzUkQvxFouUNuOnrXb1OE6T3cjR811iohRwp2EGUYbaebtWwowFqQeLO8Rux9cDtU5Xs_botVwtpfiiE7k1pKwujOCSXojZpKTL5GnHRux3VlZj1TtZvZZ_KHfWW9OQ/p.png?fv_content=true&size_mode=5" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up" data-aos-delay="100">

          </div>

        </div> <!-- / .row -->

      </div> <!-- / .container -->
</section>



abc
<hr>
---

<section id="container-for-title">
  <div>
    <h1>
      <p>Welcome to {{title}}</p>
    </h1>
  </div>
</section>

<div id="container-for-title">
  <p><h2>The services website we all were missing!</h2></p>
</div>



<br>
{{!-- <section>
  <div >
    <h3>We are here to make your building last longer, value more and look better</h3>
  </div>
  <div>
    <img src="https://www.buildingincloud.net/wp-content/uploads/2019/09/innovation-of-fm.jpg" alt="">
  </div>
</section> --}}

<div class="card-deck">
  <div class="card">
    <img class="card-img-top"
      src="https://s3-us-west-1.amazonaws.com/acropolis-wp-content-uploads/2019/05/BigRentz_ConstructionRiskManagement_Hero.png"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find a Companie</h5>
      <p class="card-text">You have a problem? Find a companie to help you!</p>
      <div id="container-for-buttons">
        {{#if user}}
        <a href="/companies/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
          class="buttons-index">Add Company</a>

        <a href="/companies" class="btn btn-light btn-lg active" role="button" aria-pressed="true"
          class="buttons-index">Consult Companies</a>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="https://s3-us-west-1.amazonaws.com/acropolis-wp-content-uploads/bigrentz-recruiting-skilled-workers-hero-large.png"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find your Building</h5>
      <p class="card-text">Report the pathologies of your building, we will help you fix it without you even have to leave your confort</p>
    </div>
    <div id="container-for-buttons">

      {{#if user}}
      <a href="/buildings/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
        class="buttons-index">Add Building</a>

      <a href="/buildings" class="btn btn-light btn-lg active" role="button" aria-pressed="true"
        class="buttons-index">Consult
        Buildings</a>
      {{/if}}
    </div>
  </div>
</div>


{{!-- CARDS --}}
<br><br><br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">For Profissionals</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">For Users</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</section>




<hr>

<div class="card-deck">
  <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                <img alt="Image placeholder" src="https://media.licdn.com/dms/image/C4D03AQFYufQI8IAyUQ/profile-displayphoto-shrink_200_200/0?e=1582156800&v=beta&t=Apd4rpd8XILAwWwaa-BRf_o08GQXlOs-94nS_--zlWA" class="avatar  rounded-circle">
            </div>
            <div class="pl-3">
                <h5 class="h6 mb-0">Miguel</h5>
                <small class="d-block text-muted">Lead Teacher</small>
            </div>
        </div>
        <p class="mt-4 lh-180">Amazing Project! All-in-one, clean code, beautiful design, and really not hard to work with. Highly recommended for any kind of Building.</p>
        <span class="static-rating static-rating-sm">
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
        </span>
    </div>
  </div>

  <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                <img alt="Image placeholder" src="assets/img/theme/light/team-2-800x800.jpg" class="avatar  rounded-circle">
            </div>
            <div class="pl-3">
                <h5 class="h6 mb-0">Jody</h5>
                <small class="d-block text-muted">Teacher Assistnat</small>
            </div>
        </div>
        <p class="mt-4 lh-180">Amazing App! Highly recommended it. Actually I'm going to suggest it in my next building meeting.</p>
        <span class="static-rating static-rating-sm">
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
        </span>
    </div>
  </div>

  <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                <img alt="Image placeholder" src="assets/img/theme/light/team-2-800x800.jpg" class="avatar  rounded-circle">
            </div>
            <div class="pl-3">
                <h5 class="h6 mb-0">Gustavo</h5>
                <small class="d-block text-muted">Teacher Assistnat</small>
            </div>
        </div>
        <p class="mt-4 lh-180">Amazing Website! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
        <span class="static-rating static-rating-sm">
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
        </span>
    </div>
  </div>
</div>

<hr>