<section id="container-for-title">
  <div>
    <h3>
      <p>Welcome to {{title}}</p>
    </h3>
  </div>
</section>

<div id="container-for-title">
  <p>The services website we all were missing!</p>
</div>

<div id="container-for-buttons">
  <a href="/buildings/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
    class="buttons-index">Add Building</a>

  <a href="/buildings" class="btn btn-light btn-lg active" role="button" aria-pressed="true" class="buttons-index">Join
    Building</a>
</div>

<br>
<section class="container-section-2">
  <div class="container-text">
    <h3>We are here to make your building last longer, value more and look better</h3>
  </div>
  <div class="container-img">
    <img src="https://www.buildingincloud.net/wp-content/uploads/2019/09/innovation-of-fm.jpg" alt="">
  </div>
</section>



<br><br><br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">For Managers</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">For Users</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</section>