<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <div class="topnav">
    <a class="active" href="/">FacilityHack</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>

    {{#if user}}

    <div class="login-container">
      <form action="/logout">
        <button type="submit">Logout</button>
      </form>
    </div>

    {{else}}

    <div class="login-container">
      <form action="/login">
        <button type="submit">Login</button>
    </div>
    </form>

    <div class="login-container">
      <form action="/signup">
        <button type="submit">Signup</button>
      </form>
    </div>

    {{/if}}

    <div class="login-container login">
      {{#if user}}
      Welcome, {{user.username}}
      {{/if}}
    </div>

  </div>


  {{{body}}}


<footer>
  --footer--
</footer>

  <script src="/javascripts/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>