<body id="login_signup">

  <div class="text-center">
    <img src="/images/undraw_message_sent_1030.svg" class="rounded" alt="...">
  </div>

  <br>
  <p class="text-center"> {{email}} <br> {{subject}} <br> {{message}}</p>

  <div class="text-center">
    <a class="btn btn-primary" href="/">
      Go back to Home.
    </a>
  </div>
</body>