<body id="login_signup">

<div class="text-center">
  <img src="../public/images/undraw_message_sent_1030.svg" class="rounded" alt="...">
</div>

<p class="text-justify"> {{email}} / {{subject}} / {{message}}</p>

</body>