<body class="padtop-100">

<!-- FORM ================================================== -->
    <section class="pt-8 pt-md-11 pb-8 pb-md-14 mb-100">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
            <!-- Card -->
            <div class="card card-border shadow-light-lg border border-white">
              <div class="card-body">
                
                <!-- Form -->
                <form action="/buildings/add" method="post" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      
                      <div class="form-group mb-5">
                        <label for="applyName">
                          Building Name
                        </label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ed. Heden Santa Apolónia" name="name">
                      </div>

                    </div>
                    <div class="col-12 col-md-6">
                      
                      <div class="form-group mb-5">
                        <label for="applyEmail">
                          Building NIF
                        </label>
                        <input type="number" class="form-control" id="applyEmail" placeholder="912345678" name="buildingNif" required>
                      </div>

                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col-12 col-md-4">
                      
                      <div class="form-group mb-5">
                        <label for="applyName">
                          Number of Floors
                        </label>
                        <input type="number" class="form-control" id="applyName" placeholder="2" name="floors">
                      </div>

                    </div>
                    <div class="col-12 col-md-4">
                      
                      <div class="form-group mb-5">
                        <label for="applyEmail">
                          Number of Apartements
                        </label>
                        <input type="number" class="form-control" id="applyEmail" placeholder="11 Rooms" name="numOfApartments">
                      </div>

                    </div>
                    <div class="col-12 col-md-4">
                      
                      <div class="form-group mb-5">
                        <label for="applyEmail">
                          Number of Elevators
                        </label>
                        <input type="number" class="form-control" id="applyEmail" placeholder="1" name="numOfElevators">
                      </div>

                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col-12 col-md-6">
                      
                      <div class="form-group mb-5">
                        <label for="applyName">
                          Year of Construction
                        </label>
                        <input type="date" class="form-control" id="applyName" placeholder="2019/12/01" name="yearOfConstruction">
                      </div>

                    </div>
                    <div class="col-12 col-md-6">
                      
                      <div class="form-group mb-5">
                        <label for="applyEmail">
                          Builder
                        </label>
                        <input type="text" class="form-control" id="applyEmail" placeholder="Ex: Vinci" name="builder">
                      </div>

                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col-12">
                      
                      <div class="form-group mb-5">
                        <label for="applyMessage">
                          Building Address
                        </label>
                        <input type="text" class="form-control" id="applyEmail" placeholder="Doca Jardim do Tabaco Terminal de Cruzeiros de Lisboa - Edifício NW, 1º Piso, 1100-651 Lisboa" name="address">
                      </div>

                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col-12">
                      
                      <div class="form-group mb-5">
                        <p class="mb-2">
                          Building Photo
                        </p>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="applyCover" name="photo" required>
                          <label class="custom-file-label" for="applyCover">
                            Choose photo
                          </label>
                        </div>
                      </div>

                    </div>
                  </div> <!-- / .row -->
                  <div class="row align-items-center">
                    <div class="col-12 col-md">
                      
                      <!-- Submit -->
                      <button class="btn btn-primary mb-6 mb-md-0 lift" type="submit" value="ADD">
                        Add Building
                      </button>

                    </div>
                    <div class="col-12 col-md-auto">

                      <p class="font-size-sm text-muted mb-0">
                        Building informations can be updated later.
                      </p>
                      
                    </div>
                  </div> <!-- / .row -->
                </form>

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

</body>