<br>

<form class="form-inline md-form mr-auto mb-4 h2-stylings" action="/buildings/search" method="GET">
    <input class="form-control mr-sm-2" type="text" placeholder="Find your Building here" name="name"
        aria-label="Search">
    <button class="button-search btn btn-danger aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
</form>


<div class="container">
    <div class="h2-stylings">
        <h2>Building List</h2>
    </div>

    <div class="container">
        <div class="row">

            {{#each building}}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{this.imgPath}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/buildings/{{this._id}}">{{this.name}} </a></h5>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{this.address}}</li>
                    </ul>
                </div>
                <br>
            </div>
            <br>
            {{/each}}

        </div>
    </div>
    <a href="/">Retun to main page</a>
</div>