<body id="building-list" class="padtop-100">


<!-- SEARCH ================================================== -->

    <section class="py-6 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
          <!-- Heading -->
            <h4 class="lead text-center text-md-center text-muted mb-6 mb-lg-8 mb-25">
              Find your building and start engaging now!
            </h4>

          <!-- Search form -->
            <form class="rounded shadow md-form mr-auto mb-4" action="/buildings/search" method="GET">
              <div class="input-group input-group-lg">

                <!-- Input -->
                <input class="form-control border-0 px-1" type="text" placeholder="Find your Building here" name="name" aria-label="Search" value="Edifício Sol">
                
                <!-- Append -->
                <div class="input-group-append">
                  <span class="input-group-text border-0 py-0 pl-1 pr-3">

                <!-- Button -->
                <button class="btn btn-sm btn-primary" type="submit">
                  Search
                </button>

                </div>

            </form>

          </div>
        </div> <!-- / .row -->
      </div>
    </section>

<br>


<!-- BUILDING LIST ================================================== -->

<div class="container">
    <div class="h2-stylings">
        <h2>Building List</h2>
    </div>


    <div class="container">
        <div class="row">

            {{#each building}}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{this.imgPath}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/buildings/{{this._id}}">{{this.name}} </a></h5>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{this.address}}</li>
                    </ul>
                </div>
                <br>
            </div>
            <br>
            {{/each}}

        </div>
    </div>
</div>


<br>
<hr>

<!-- CTA ================================================== -->
    <section class="pt-6 pt-md-8 mb-100 mt-100">
      <div class="container pb-6 pb-md-8 border-bottom">
        <div class="row align-items-center">
          <div class="col-12 col-md">
            
            <!-- Heading -->
            <h3 class="font-weight-bold mb-1">
              Didn't found your building?
            </h3>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6 mb-md-0">
              Just add it to the list!
            </p>

          </div>
          <div class="col-12 col-md-auto">
                
            <!-- Button -->
            <a href="/buildings/add" class="btn btn-primary lift">
              Add New Building
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

</body>