<div class="h2-stylings">
  <h2>Add a New Building</h2>
</div>

<div class="form-group form-color">
  <form action="/buildings/add" method="post" enctype="multipart/form-data">
    <label>Building Name:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
    <br>
    <label for="">Building NIF:</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="buildingNif">
    <br>
    <label for="">Address:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="address">
    <br>
    <label for="">Builder:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="builder">
    <br>
    <label for="">Number of Floors</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="floors">
    <br>
    <label for="">Number of Apartements</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      name="numOfApartments">
    <br>
    <label for="">Year of Construction</label>
    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      name="yearOfConstruction">
    <br>
    <label for="">Number of Elevators</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      name="numOfElevators">
    <br>
    <label>Building Photo</label>
    <br>
    <input type="file" name="photo">
    <br>
    <input class="button" type="submit" value="ADD">
  </form>
</div>


<!-- FORM ================================================== -->
    <section class="pt-8 pt-md-11 pb-8 pb-md-14 mb-100">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
            <!-- Card -->
            <div class="card card-border shadow-light-lg border border-white">
              <div class="card-body">
                
                <!-- Form -->
                <form>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      
                      <div class="form-group mb-5">
                        <label for="applyName">
                          Building Name
                        </label>
                        <input type="text" class="form-control" id="applyName" placeholder="Heden Santa Apolónia">
                      </div>

                    </div>
                    <div class="col-12 col-md-6">
                      
                      <div class="form-group mb-5">
                        <label for="applyEmail">
                          Building NIF
                        </label>
                        <input type="text" class="form-control" id="applyEmail" placeholder="hello@domain.com">
                      </div>

                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col-12 col-md-4">
                      
                      <div class="form-group mb-5">
                        <label for="applyName">
                          Number of Floors
                        </label>
                        <input type="text" class="form-control" id="applyName" placeholder="2">
                      </div>

                    </div>
                    <div class="col-12 col-md-4">
                      
                      <div class="form-group mb-5">
                        <label for="applyEmail">
                          Number of Apartements
                        </label>
                        <input type="text" class="form-control" id="applyEmail" placeholder="11 Rooms">
                      </div>

                    </div>
                    <div class="col-12 col-md-4">
                      
                      <div class="form-group mb-5">
                        <label for="applyEmail">
                          Number of Elevators
                        </label>
                        <input type="text" class="form-control" id="applyEmail" placeholder="1">
                      </div>

                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col-12 col-md-6">
                      
                      <div class="form-group mb-5">
                        <label for="applyName">
                          Year of Construction
                        </label>
                        <input type="text" class="form-control" id="applyName" placeholder="2019">
                      </div>

                    </div>
                    <div class="col-12 col-md-6">
                      
                      <div class="form-group mb-5">
                        <label for="applyEmail">
                          Builder
                        </label>
                        <input type="text" class="form-control" id="applyEmail" placeholder="hello@domain.com">
                      </div>

                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col-12">
                      
                      <div class="form-group mb-5">
                        <label for="applyMessage">
                          Building Address
                        </label>
                        <input type="text" class="form-control" id="applyEmail" placeholder="Doca Jardim do Tabaco Terminal de Cruzeiros de Lisboa - Edifício NW, 1º Piso, 1100-651 Lisboa">
                      </div>

                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col-12">
                      
                      <div class="form-group mb-5">
                        <p class="mb-2">
                          Building Photo
                        </p>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="applyCover">
                          <label class="custom-file-label" for="applyCover">
                            Choose photo
                          </label>
                        </div>
                      </div>

                    </div>
                  </div> <!-- / .row -->
                  <div class="row align-items-center">
                    <div class="col-12 col-md">
                      
                      <!-- Submit -->
                      <button class="btn btn-primary mb-6 mb-md-0 lift">
                        Add Building
                      </button>

                    </div>
                    <div class="col-12 col-md-auto">

                      <p class="font-size-sm text-muted mb-0">
                        Building informations can be updated later.
                      </p>
                      
                    </div>
                  </div> <!-- / .row -->
                </form>

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
