<div class="h2-stylings">
  <h2>Login Page</h2>
</div>

<form action="/login" method="POST" id="form">

  <label for="username">Username</label>
  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
  <br>
  <label for="password">Password</label>
  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="password">

  {{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button class="button">Log in</button>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
<br>

  <h6>Are you a Professional? <a href="/professional-login">Login</a> here, or <a href="/professional-signup">Sign-up</a> here.</h6>
</form>