<div class="h2-stylings">
  <h2>Sign Up Page</h2>
</div>

<form id="form" action="/signup" method="POST">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" name="fistName" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="lastName" placeholder="Last name">
    </div>
    <br>
  </div>
  <br>
  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username"
    placeholder="Your username">
  <br>

  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="password"
    placeholder="********">
  <br>

  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="password2"
    placeholder="********">



  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  <br>
  <button class="button" type="submit">Create Account</button>
</form>

<br>

<div class="login-text">
  <h2>Already a member? <a href="/login">Login</a> instead</h2>
</div>