<body id="console" class="padtop-100">

  <!-- CENTRAL ================================================== -->
  <section class="pt-8 pt-md-11 pb-8 pb-md-14 mb-200 mt-100">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Card -->
          <div class="card card-border shadow-light-lg border border-white">
            <div class="card-body">

              <div class="row">
                <div class="col-12">

                  {{#if user}}
                  <div class="alert alert-warning alert-dismissible fade show mb-50" role="alert">
                    <strong>Welcome back {{user.username}}</strong>
                    You should check in on some of those fields below.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {{/if}}
                  {{#if professional}}
                  <div class="alert alert-warning alert-dismissible fade show mb-50" role="alert">
                    <strong>Welcome back {{professional.companyName}}</strong>
                    You should check in on some of those fields below.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {{/if}}

                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12">

                  <!-- SEARCH ================================================== -->

                  <section class="py-6 mb-25">
                    <div class="container">
                      <div class="row">
                        <div class="col-12">

                          <!-- Heading -->
                          <h4 class="lead text-center text-md-center text-muted mb-6 mb-lg-8 mb-25">
                            Find your building and start engaging now!
                          </h4>

                          <!-- Search form -->
                          <form class="rounded shadow md-form mr-auto mb-4" action="/buildings/search" method="GET">
                            <div class="input-group input-group-lg">

                              <!-- Input -->
                              <input class="form-control border-0 px-1" type="text"
                                placeholder="Find your Building here" name="name" aria-label="Search"
                                value="Edifício Sol">

                              <!-- Append -->
                              <div class="input-group-append">
                                <span class="input-group-text border-0 py-0 pl-1 pr-3">

                                  <!-- Button -->
                                  <button class="btn btn-sm btn-primary" type="submit">
                                    Search
                                  </button>

                              </div>

                          </form>

                        </div>
                      </div> <!-- / .row -->
                    </div>
                  </section>

                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-6">

                  <div class="card">
                    <div class="card-body">

                      <!-- Image -->
                      <img src="images/undraw_town_r6pc.svg" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0"
                        alt="..." data-aos="fade-up" data-aos-delay="100">

                      <h5 class="card-title">Find your Building</h5>
                      <p class="card-text">Report the pathologies of your building, we will help you fix it without you
                        even have to leave your confort</p>
                      <a href="/buildings" class="btn btn-primary">Go to Buildings Page</a>
                    </div>
                  </div>

                </div>
                <div class="col-12 col-md-6">

                  <div class="card">
                    <div class="card-body">

                      <!-- Image -->
                      <img src="images/undraw_best_place_r685 (1).svg"
                        class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up"
                        data-aos-delay="100">

                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Find a Companie</h5>
                          <p class="card-text">You have a problem? Find a companie to help you! You have a problem? Find
                            a companie to help you!</p>
                          <a href="/companies" class="btn btn-primary">Go to Companies Page</a>
                        </div>
                      </div>

                    </div>
                  </div> <!-- / .row -->


                </div>
              </div>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
  </section>

  </div>
  </div>
  </div>
  </div>
  </section>


</body>